body {
	margin: 0;
}
canvas {
    display: block;
    margin: 40px auto;
}

.foo {
  --float: left;
 --display: block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  background: blue;
}
.green{
    background: green;
}
.brown {
  background:brown;
}
.yellow{
    background: yellow;
}
.red {
  background: red;
}